.button{
    border-radius: 0.5rem;
    height: 2.87rem;

    background-color: #4F4FB9;
    border: 2px solid #4f4fb9;
    color: #ebebfc;
    
    padding:  0 0.9rem;
    font-size: 1rem;
    font-weight: 700;
    
    font-family: "Noto Sans", sans-serif;
}